.card {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.card__name {
    text-align: center;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}

.card__img {
    width: auto;
    object-fit: cover;
}