.pokemon {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.pokemon__name {
    text-align: center;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

.pokemon__images {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pokemon__img {
    width: auto;
    object-fit: cover;
}

.pokemon__title {
    text-align: center;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
}

.pokemon__text {
    padding: 8px;
    text-align: center;
}
